.bg-cta {
    padding: 150px 0;
}
.title-heading .heading {
    font-size: 45px;
    letter-spacing: 1px;
}
.title-heading .para-desc {
    font-size: 18px;
}
.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}
.card:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.025)
}